:root {
  --bg: #0f0f12;
  --surface: #17171f;
  --text-primary: #f5f5f5;
  --text-secondary: #9ca3af;
  --accent: #c4b5fd;

  --heading-xl: 4rem;
  --heading-lg: 3rem;
  --heading-md: 2rem;
  --text-lg: 1.2rem;
  --text-md: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text-primary);
  line-height: 1.7;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
}

h1 {
  font-size: var(--heading-xl);
  font-weight: 800;
  letter-spacing: -1px;
}

h2 {
  font-size: var(--heading-lg);
  font-weight: 700;
}

h3 {
  font-size: var(--heading-md);
  font-weight: 600;
}

p {
  font-size: var(--text-md);
}
.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Cute animated blobs */

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.35;
  animation: floatBlob 18s ease-in-out infinite alternate;
}

.blob1 {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #c4b5fd 0%, transparent 70%);
  top: 10%;
  left: -150px;
}

.blob2 {
  width: 450px;
  height: 450px;
  background: radial-gradient(circle, #fbcfe8 0%, transparent 70%);
  bottom: 0%;
  right: -120px;
  animation-duration: 22s;
}

@keyframes floatBlob {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-40px) scale(1.05);
  }
  100% {
    transform: translateY(30px) scale(1);
  }
}
.section::before {
  background: linear-gradient(
    to bottom,
    rgba(196, 181, 253, 0.04),
    transparent
  );
}
/*footer*/
footer a {
  color: #aaa;
  text-decoration: none;
  transition: 0.3s ease;
}

footer a:hover {
  color: var(--accent);
}

